<h1>Got an alert?</h1>

<% if current_grubber %>

<p> Let the world know below </p>

	<%= form_tag('/grubbers/message', method: :post) do%>
		<%= text_area_tag :body %>
		<%= submit_tag "Let's do this!" %>
	<% end %>

<% else %>
	<p> Please <%= link_to 'sign in', signin_path %> or <%= link_to 'sign up!', root_path %> </p>

<% end %>