<h1>Hello Future Grubber, I greet you!</h1>

<% if current_grubber %>
	<p> Want to send a message? </p>
<% else %>
<p> How would you like to be notified? Enter your email, mobile number, or both. </p>

<%=form_for @grubber do |f| %>
	<% if @grubber.errors.any? %>
		<ul>
		<% @grubber.errors.full_messages.each do |msg| %>
			<li> <%= msg %> </li>
		<% end %>
		</ul>
	<% end%>

	<%= f.label :email  %>
	<%= f.text_field :email %><br/>
	<%= f.label :mobile %>
	<%= f.phone_field :mobile %><br/>
	<%= f.label :password %>
	<%= f.password_field :password %><br/>
	<%= f.submit %>
<% end %>
